.page_heading
{
    text-align : center;
}

body
{
    color : white;
}

select, input
{
    color : black;
    border: 2px solid;
    border-color: rgb(29, 55, 167);
    background: white;
    border-radius: 5px;
    padding: 0.5%;
}

output
{ 
    color : white;
    display : block;
    font-size : 90%;
    font-weight : bold;
    text-align : center;
    width : 100%;
}

.hero-unit {
    padding: 60px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #189567;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.hero-unit li {
    line-height: 30px;
}

.error {
    background-color : red;
}

.nav-tabs li a {
    background-color : rgb( 29, 55, 167 );
    color : white;
}
.nav-tabs li a:hover {
    color: rgb( 106, 106, 106 );
}

#start_app {
    background-color: rgb(29, 55, 167);
}

#start_app:hover {
    background-color: #3C32B1;
}

#snapshot_widget {
    height : 350px;
    width : 2000%;
}

#snapshot_widget span {
    float : left;
    margin-left : 0.1%;
}

#snapshots {
    width : 100%;
    overflow : auto;
}

#trend_list a, #snapshot_widget a {
    color : #F0FF09;
}

#trend_list a:hover, #snapshot_widget a:hover {
    color: #C0CC09;
}

#trend_list td, #trend_list th, #snapshot_widget td, #snapshot_widget th {
    padding : 0 8px;
}
#performance_widget {
    padding-top : 5%;
    font-size : 98%;
}
